.empresa{

    .empresa__conteiner{
    

        .empresa__title{
            text-align: center;
            font-weight: 700px;
            margin: 30px 10px;
        }
        .empresa__text{
            text-align: center;
            margin: 30px 20px  50px;
            font-family: 'Dancing Script';
            font-weight: 700;
        }

        .empresa__bootstrap{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 20px;
            flex-direction: column;
            
            

            .empresa__card--card1{
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
               
            }

            .empresa__card--card2{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
            
            }
        }
    }
}